<head>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<h2><%= viewData.snippet.author %>
</h2>
<h2>
    <%= viewData.snippet.title %>
</h2>
<p id="showPost">
    <pre><code><%= viewData.snippet.content %></pre></code>
</p>