<head>
    <title>login</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<h2>Login</h2>

<form action="./user/login" method="POST">
    <label for="username">Username:</label><br>
    <input type="text"  class="form-control2" id="username" name="username" required><br>
    <label for="password">Password:</label><br>
    <input type="password"  class="form-control2" id="password" name="password" required><br>
    <input type="submit" value="Login" class="btn2">
</form>
<p>Don't have an account?</p>
<a href="./user/register">
<button class="btn2">Register</button>
</a>