<!DOCTYPE html>
<html>

<head>
    <title>Register</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>
    <h2>Register</h2>
    <form action="./user/register" method="POST">
        <label for="username">Username:</label><br>
        <input type="text" class="form-control2" id="username" name="username" required><br>
        <label for="password">Password:</label><br>
        <input type="password" class="form-control2" id="password" name="password" required><br>
        <label for="confirmPassword">Confirm Password:</label><br>
        <input type="password" class="form-control2" id="confirmPassword" name="confirmPassword" required><br>
        <input type="submit" class="btn2" value="Register">
    </form>
</body>

</html>