<!DOCTYPE html>
<html>

<head>
    <title>My Index Page</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
    <div id="container-home">
    <h1>Welcome to Snippets</h1>
    <p>Store your code snippest here. <br>The above menu indicates your options.<br> 
    <strong>List</strong> allows you to view all the available code snippets stored in our database.<br>
    <strong>Create</strong> will allow you to create a new code snippet and store it in the database.<br>
    To use the application, please register or login.</p>
    </div>
</body>

</html>